.method {
    color: #DCDCAA;
}

.property {
    color: #DCDCDC;
}

.signal {
    color: #DCDCAA;
}

.bracket {
    color: yellow;
}

.type {
    color: #4EC9B0;
}

.param {
    color: #9CDCFE;
}

.default {
    color: #C586C0;
}

.void {
    color: #569CD6
}

.desc {
    margin-top: 5px;
    margin-left: 0px;
    padding-left: 20px;
	padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    background-color: #00000030;
    display: inline-block;
}

p:has(span.indent) + div.language-gdscript.highlight {
    margin-left: 50px;
}